.my_modal
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
}

.my_modal.show
{
    visibility: visible;
    z-index: 2000;
    opacity: 1;
    transition: all 0.3s ease-out;
}

.my_modal .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 80%;
    z-index: 1500;
}

.my_modal-window
{
    position: relative;
    z-index: 3000;
    width: 30%;
    height: auto;
    border-radius: 30px;
    background-color: #fff;
    margin-top: -10%;
    transition: inherit;
}

.my_modal.show .my_modal-window
{
    margin-top: 0;

}

.modal_heading
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5vh;
    background-color: #000;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image: url("../img/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

.modal_footer
{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.5vh;
    background-color: #000;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

.modal_footer p
{
    font-size: 1.5vh;
    color: #ffffff;
    margin: 5px 15px;
    text-align: center;
}

.modal_heading .modal_logo
{
    position: relative;
    top: 10%;
    height: 100%;
    left: 30px;
}

.button-close
{
    top: 25%;
    left: 5%;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    opacity: 1;
    height: 50%;
}

.button-close:hover
{
    opacity: 0.9;
}

.button-close img
{
    height: 70%;
}

.modal_reg
{
    float: left;
}

label
{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5%;
    display:block;
    position:relative;
}

.radio_heading
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: -10px 0 10px;
}

.reg_button
{
    padding: 0;
    margin: 0;
    background-color: white;
    opacity: 1;
}

.reg_button:hover
{
    opacity: 0.9;
}

.reg_button label
{
    padding: 0;
    margin: 0;
}

.button_container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.email_confirm_container
{
	margin-bottom: 30px;
	position: relative;
	margin-right: 30px;
	margin-left: 30px;
}

.email_confirm_container svg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #2ecc71;
}

.email_confirm_container p
{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.button-close
{
    position: relative;
    height: 2.5vh;
    top: 2.5vh;
    left: 2.5vh;
}

.button-close img
{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
}